.indicator-button {
    background-color: #fff;
    border-color: #fff;
}

.indicator-button.active {
    background-color: red;
    border-color: red;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: gray;
    color: white;
}