<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center mt-1">
                <h2>About me</h2>
                <img src="assets/deyvid.jpg" alt="foto do deyvid" width="190" height="240" class="rounded-circle">
                <p class="mt-1">Hello, I'm Deyvid Santos, a passionate software engineer from Brazil. With expertise in Java and Spring Boot, I specialize in developing robust and scalable backend solutions. I thrive on solving complex problems and collaborating effectively with multidisciplinary teams.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="mt-1">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>